SUPABASE_DB_PASSWORD=your-supabase-database-password
DATABASE_URL=postgresql://postgres.vfdydumriboswopwrakb:your-supabase-database-password@aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require

HOUSTON_CLOUD_AUTH=local
HOUSTON_CLOUD_TOKEN=hst_ab9e56df2ca07e563d8d71f55850d157e08fe447ce7fcc19f84339c77de1aced
HOUSTON_CLOUD_LOCAL_USER_ID=00000000-0000-0000-0000-000000000001
HOUSTON_CLOUD_LOCAL_EMAIL=andre@blyxlabs.dev
HOUSTON_CLOUD_DOMAIN=cloudhouston.blyxlabs.dev
HOUSTON_ENGINE_IMAGE=houston/engine:dev
HOUSTON_CLOUD_CORS_ORIGINS=*
